<div class="cover-container d-flex mx-auto flex-column">
  <div class="search text-center">
    <%= form_with url: new_song_path, method: :get, local: true do |f| %>
      <%= f.text_field :album, placeholder: "アルバム名", value: @search_params %>
      <%= f.submit "検索" %>
    <% end %>
  </div>

  <div class="result">
    <div class="index2">
      <h3>アルバム一覧</h3>
      <%= link_to "登録曲一覧", songs_path, class: "link" %>
    </div>
    <div>
      <% if @albums.present? %>
        <% @albums.each do |album| %>
          <%= album.name %>
        <% end %>
      <% end %>