<% if @track_id.present? %>
  <div class="new_card">
    <iframe src="https://open.spotify.com/embed/track/<%= @track_id %>?utm_source=generator" 
      width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
    </iframe>
  </div>
<% else %>
  <%= link_to '楽曲を選択する', search_spotify_posts_path, class: 'btn btn-dark' %>
<% end %>
<%= form_with model: @post, local: true do |f| %>
  <div class="form-group">
    <%= f.label :song_title %>
    <%= f.text_field :song_title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :airtist %>
	<%= f.text_field :airtist, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :genre %>
	<%= f.text_field :genre, class: 'form-control' %>
  </div>
  <div class="form-group">
	  <%= f.label :capotast %>
	  <%= f.number_field :capotast, step: "1", class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, rows: 10, class: 'form-control' %>
  </div>
	<%= f.submit class: 'btn btn-dark' %>
<% end %>
<div class="help_page_link">
  <%= link_to 'コード譜作成の仕方', page_path('help_page') %>
</div>