<h1>投稿一覧</h1>
<%= link_to 'コード譜新規作成', new_post_path, class: 'btn btn-primary' %>

<% @posts.each do |post| %>
  <p>コード譜</p>
  <td><%= link_to post.song_title, post_path(post) %></td>
  <td><%= post.created_at %></td>
  <td><%= post.genre %></td>
  <td><%= render 'crud_menus', post: post if current_user.own?(post) %></td>
<% end %>
