<h1>投稿一覧</h1>
<%= link_to 'コード譜新規作成', new_post_path, class: 'btn btn-primary' %>

<% @posts.each do |post| %>
  <p>コード譜</p>
  <td><%= link_to post.song_title, post_path(post) %></td>
  <td><%= post.created_at %></td>
  <td><%= link_to '編集', edit_post_path(post), class: 'btn btn-primary mr-3' %></td>
  <td><%= button_to '削除', post_path(post), method: :delete, class: 'btn btn-danger' %></td>
<% end %>
