<h2>楽曲検索</h2>

<%= form_with url: search_spotify_posts_path, method: :get, local: true do |f| %>
  <div class="input-group mb-3">
    <%= f.search_field :track, placeholder: "曲名orアーティスト名などで検索", value: @search_params, class: 'form-control' %>
    <div class="input-group-append">
      <%= f.submit '検索', class: 'btn btn-dark' %>
    </div>
  </div>
<% end %>

  <div class="result">
    <div class="row2 mt-2">
      <% if @tracks.present? %>
        <% @tracks.each do |track| %>
          <div class="col-md-4">
            <div class="mb-4 mx-3">
              <iframe src="https://open.spotify.com/embed/track/<%= track.id %>?utm_source=generator" 
                width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy">
              </iframe>
              <div class="mt-4 text-center">
                <%= link_to 'この曲を投稿する', new_post_path(track_id: track.id), class: 'btn btn-dark' %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>