<h1>投稿詳細</h1>
<table class="table table-borderless">
  <thead>
    <tr><th>アーティスト</th><th>タイトル</th><th>カポタスト</th></tr>
  </thead>
  <tbody>
    <tr><th><%= @post.airtist %></th><th><%= @post.song_title %></th><th><%= @post.capotast %></th></tr>
  </tbody>
</table>
  <% @post.scores.each do |score| %>
    <% if score.chord? %>
  <p><%= score.content %></p>
    <% elsif score.lyric? %>
  <p><%= score.content %></p>
    <% end %>
  <% end %>

  <% if current_user.own?(@post) %>
    <%= render 'crud_menus', post: @post %>
  <% else %>
    <%= render 'posts/bookmark_button', post: @post %>
  <% end %>