<h1>投稿詳細</h1>
<h3>アーティスト</h3>
<p><%= @post.airtists.name %></p>
<h2>曲名</h2>
<p><%= @post.song_title %></p>
<h2>コード譜</h2>
<h3>capo</h3>
  <p><%= @post.capotast %></p>

<br>
  <% @post.scores.each do |score| %>
    <% if score.chord? %>
  <p><%= score.content %></p>
    <% elsif score.lyric? %>
  <p><%= score.content %></p>
    <% end %>
  <% end %>
  <% if current_user.own?(@post) %>
    <%= render 'crud_menus', post: @post %>
  <% else %>
    <%= render 'posts/bookmark_button', post: @post %>
  <% end %>
</br>
